<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="2016Fall3050001ConnectionString" connectionString="Data Source=coblabdb.uccob.uc.edu\lcblabsql;Initial Catalog=2016Fall3050001;Persist Security Info=True;User ID=2016F002;Password=bearcat"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>